:root {
    --primary-color: #DF3062;
    --secondary-color: #11ABC1;
    --tertiary-color: #F5B935;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
}

header h1{
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    text-align: left;
}

ul {
    list-style: none;
    text-align: center;
}

li a {
    display: block;
    text-decoration: none;
}

.hero {
    background-image: url(../images/portfolio-header.jpg);
}

body {
    background-color: var(--secondary-color);
}

#main-bio {
    margin-top: 30px;
    width: 70%;
    display: block;
}

p{
    align: right;
}

#contact-info {
    width: 30%;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}