:root {
    --primary-color: #DF3062;
    --secondary-color: #D8E2DF;
    --tertiary-color: #F5B935;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, san-serif;
}

header {
    z-index: 9999;
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url(../images/portfolio-header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color:var(--primary-color);
    border-radius: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    background-image: url(../images/portfolio-header.jpg);
}

#main-bio {
    margin-top: 30px;
    width: 70%;
    display: block;
}

p{
    align: right;
}

#contact-info {
    width: 30%;
}

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}