:root {
    --primary-color: #2b6777;
    --secondary-color:  #c8d8e4;
    --tertiary-color: #52ab98;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, san-serif;
}

header {
    z-index: 9999;
    padding: 24px 48px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1{
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: rgba(0, 0, 0, 0.5);
    color:var(--secondary-color);
    border-radius: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* FOOTER STYLE START */

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 24px 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

/* STYLE ALL SECTION TAGS */
section {
    padding: 62px;
}

/* HERO STYLE START */

.hero {
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-cta {
    width: 36%;
    text-align: right;
    margin: 4%;
    color: var(--secondary-color);
    font-size: 24px;
    line-height: 2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 48px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-cta li {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5.5%;
    margin-top: 27px;
}

.hero-video {
    padding: 36px;
    width: 40%;
    margin: 3.5%;
    position: relative;
}

/* HERO STYLE END */

img {
    width: 30%;
    height: auto;
}


.section-title {
    margin: 20px;
    background: --primary-color;
    color: var (--tertiary-color);
    align: left;
}

h3 p {
        position: relative;
        top: 80px;
        right: 60px;
        width: 700px;
        height: 100px;
        display: inline-flexbox;
    }

    .website {
        display: inline;
    }

#contact-info {
    flex: 1;
    margin: 15px;
}

.contact-info h2 {
    flex: 1;
    margin: 15px;
    font-size: xx-large;
}

#Contact ul li {
    list-style: none;
}